.container {
  width: 100vw;
  height: 100vh;
  background-color: #ebeff3;
}

.form__container {
  height: calc(100% - 50px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.container__title {
  color: #00a7ca;
}

.url__form {
  font-size: 1.8rem;

  display: flex;
  flex-direction: column;
  width: clamp(400px, 80vw, 700px);
}

.url__input {
  width: 70%;
  border: 0;
  padding: 1rem;
  border-radius: 5px;
}
